server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://10.0.0.223:3100/loki/api/v1/push # Central Loki server

scrape_configs:
  - job_name: system-logs
    static_configs:
      - targets:
          - localhost
        labels:
          job: varlogs
          host: idm8-monitoring # Change per server: idm8, idm9, idm10
          __path__: /var/log/*.log
